@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap');

:root {
    --bg-color: transparent;
    --circle-color: #FDAE46;
    /* font color */
    --black: #181200;
    --red-orange: #FC2E20;
    --orange: #FD7F20;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
canvas {
    position:absolute;
    top:0;
    z-index: -1;
  }

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

/* global nav setting */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--red-orange);
}

nav {
    padding: 18px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
}

/* End of global nav setting */

/* global search bar setting */


.search_bar_box {
    
    margin-top: 1.2em;
   
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}


.search_bar input {
    border-radius: 50px;
    padding: 1.2rem;
    width: 100%;
    border: none;
    text-align: center;
}

::placeholder {
    font-size: 1.1rem;
    font-weight: 300;
}

/* End of global search bar setting */


/* global button setting */
/* .button {
    text-align: center;
    min-width: 200px;
    margin-top: 3em;
    
} */

button {
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 50px;
    padding: 1em 1.6em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: -5em;
}

button:hover {

    color: var(--orange);
}

i {
    font-size: 1.6rem;
    -webkit-text-stroke: 2.6px var(--bg-color);
    color: var(--red-orange);
    
}

i:hover {
    text-shadow:3px 0 10px var(--circle-color);
}


/* End of global button setting */

/* global main section */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.container_main {
    background-color: var(--circle-color);
    padding: 18px;
    border-radius: 50%;
    min-width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 100;
    letter-spacing: -.2rem;
}

#slider {
    margin-top: 2em;
}

/* End of global main section */

/* home page */

.title,
#time {
    font-size: 5.3rem;
  
}

/* End of home page */

/* About page */

.container_main .title_about {
    font-size: 2rem;
    letter-spacing: 0;
    color: var(--red-orange);
}

.container_main .title_about span{
    font-weight: 300;
    letter-spacing: -.2rem;
}

.container_main .description_about {
    font-size: 2rem;
    font-weight: 300;

}

.container_main .description_about p {
    max-width: 500px;
}

.container_main .source {
    font-size: 1.6rem;
    letter-spacing: 0;
    margin-top: 2em;
    font-weight: 300;
}

/* End of about page */

.hidden {
    display: none;
}

#time {
    font-weight: 300;
}

.slider_box {
    min-width: 1000px;
    margin-top: 10em;
}

#slider {
    width: 100%;
}